.loginContainer {
    text-align: center;
}
.loginBox {
    background-color: rgba(46, 46, 46, 1);
    color: rgba(255, 255, 255, 1);
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 20px 4px #7d7b7b;
}
.loginbutton {
    border-radius: 10px solid rgba(255,255,255,1);
}