
.qa {
    background-color: rgba(0,0,0,0.4);
    margin: 0 auto;
    border-radius: 5px;
    padding: 4px;
    width: 50%;
    color: white;
    text-align: left;
    box-shadow: -7px 4px 20px 1px #202020db;
    
}

.qa p {
    padding-left: 20px;
    font-weight: bold;

}